<button class="close-button" type="button">×</button>
<h1>Add New Studio</h1>
<form action="/addStudio" method="POST">
    <label for="name">Studio Name:</label>
    <input type="text" id="name" name="name" value="<%= locals.oldInput ? oldInput.name : '' %>" required maxlength="100">
    <button type="submit">Add Studio</button>
</form>