<html>
    <head>
        <title>Error 404</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="error-404">
            <h1>ERROR 404</h1>
            <p>This webpage does not exist</p>
            <a href="/">Return Home</a>
        </div>
    </body>
</html>