<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <% games.forEach(function(game) { %>
        <div class="game">
            <%- JSON.stringify(game) %>
        </div>
    <% }); %>
</body>
</html>